.event {
  overflow: scroll;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.event-list {
  width: 60vw;
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 2%;
  background-color: white;
  border-radius: 10px;
}

.img-thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

img {
  width: 80%;
}

.img-thumbnail:hover img {
  opacity: 0.3;
  transition: 0.5s ease;
}

.date-time {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5%;
  padding: 0 2%;
  font-size: 0.8rem;
}

.details {
  padding: 1% 5%;
}

.description {
  text-align: left;
  font-size: 0.9rem;
}

.you-go-button {
  border: none;
  width: 8rem;
  height: 2rem;
  background-color: #9d4edd;
  color: whitesmoke;
  margin-bottom: 1%;
  border-radius: 50px;
}

.attend-button {
  border: none;
  width: 8rem;
  height: 2rem;
  background-color: rgb(240, 233, 152);
  margin-bottom: 1%;
  border-radius: 50px;
}

.attend-button:hover,
.you-go-button:hover {
  background-color: #252525;
  color: whitesmoke;
}
