.event {
  overflow: scroll;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.event-list {
  width: 60vw;
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 2%;
  background-color: white;
  border-radius: 10px;
}

.img-thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  width: 80%;
}

.date-time {
  display: flex;
  justify-content: end;
  gap: 5%;
  padding: 0 2%;
  font-size: .8rem;
}

.details {
  padding: 1% 5%;
}

.description {
  text-align: left;
  font-size: .9rem;
}

.attend-button {
  border: none;
  width: 8rem;
  height: 2rem;
  box-shadow: 3px 3px #252525;
  margin-bottom: 1%;
}

.attend-button:hover {
  background-color: #252525;
  color: whitesmoke;
}
