.event {
  overflow: scroll;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.event-list {
  width: 60vw;
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 3%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  background-color: white;
}

.img-thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  width: 80%;
}

.date-time {
  display: flex;
  justify-content: end;
  gap: 5%;
  padding: 2%;
}

.details {
  padding: 1%;
}

.description {
  text-align: justify;
}
