.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3% 0;
  background-color: rgb(176, 211, 176);
  /* width: 100%;
    padding: 3% 0;
  row-gap:10% ; */
  /* height: 100vh; */
}

.profile-details {
  display: grid;
  width: 50vw;
  /* background-color: yellowgreen; */
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  padding: 2%;
  margin-bottom: 2%;
}

.event-attend {
  width: 70vw;
  margin: 2%;
  display: flex;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
  flex-direction: column;
  /* height: 50vh; */
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  /* gap: 15%; */
  /* background-color: yellow; */
}

.event-profile {
  width: 50%;
  background-color: whitesmoke;
  margin: 1%;
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* align-content: center; */
  justify-items: center;
  border-radius: 10px;
  /* display: grid;
    flex-direction: column; */

  /* flex-direction: column; */
}

.profile-img {
  width: 70%;
}

.date-time-profile {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 6%;
  padding: 0 2%;
  font-size: 0.8rem;
}

.log-out {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 8rem;
  height: 2.5rem;
  border-radius: 50px;
}

.log-out:hover {
  background-color: #252525;
  color: whitesmoke;
}
