.logo {
  text-decoration: none;
  color: #252525;
}

.link-profile, .link-sign-in {
  text-decoration: none;
  color: #252525;
  background-color: rgb(240, 233, 152);
  padding: 8% 15%;
  border-radius: 50px;
}
.link-new-event {
  text-decoration: none;
  color: #252525;
}

.navigation {
  height: 4em;
  padding: 0 5%;
  display: flex;
  align-items: center;
  background-color: whitesmoke;
}

nav {
  position: absolute;
  right: 5%;
  justify-content: center;
}

ul {
  display: flex;
  gap: 5%;
}

li {
  list-style: none;
  min-width: 8em;
}
