.search-event {
  width: 80vw;
  padding: 3% 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search-form {
  width: 90%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  column-gap: 1%;
}

.input-search {
  border: none;
  height: 2.5rem;
  width: 15rem;
  padding: 0 1%;
  border-radius: 50px;
}

.input-search::placeholder {
  padding: 0 2%;
  color: gray;
}

.search-button {
  border: none;
  width: 8rem;
  height: 2.5rem;
  background-color: rgb(214, 186, 240);
  border-radius: 50px;
}

.search-button:hover {
  background-color: #252525;
  color: whitesmoke;
}
