.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  width: 80%;
}

.input-login {
  width: 30%;
  border: none;
  height: 1.5rem;
  padding: 1%;
  background-color: whitesmoke;
  margin: 1%;
  border-radius: 50px;
}

input::placeholder {
  text-transform: capitalize;
  color: gray;
}

.login-button {
  border: none;
  width: 8rem;
  height: 2.5rem;
  border-radius: 50px;
  background-color: #252525;
  color: whitesmoke;
  /* box-shadow: 5px 5px #252525; */
}

.login-button:hover {
  background-color: whitesmoke;
  color: #252525;
}
